@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #fff;
    --text-color: #000;
    --hover-color: hwb(0 3% 97%);
    --phone-section-padding: 20px 40px;
    --section-margin: 30px;
    --project-box-padding: 0 25px;
    --btn-padding: 10px 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    font-family: "Poppins", sans-serif;
}

#site-header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 15px 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

#site-header .site-logo {
    text-decoration: none;
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav .active {
    color: var(--text-color);
    text-decoration: underline;
}

nav a {
    display: flex;
    padding: 1em 1.5em;
    text-decoration: none;
    color: rgba(147, 147, 147, 0.752);
    font-weight: 500;
    font-size: 17px;
    transition: all 150ms ease;
}

nav a:hover {
    color: var(--hover-color);
}

.resume-button {
    padding: var(--btn-padding);
    font-size: 17px;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms ease;
}

.resume-button:hover {
    border-radius: 50px;
}

.menu-open-button,
.menu-close-button {
    display: none;
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
    color: var(--text-color);
    font-size: 20px;
}

.menu-close-button {
    font-size: 25px;
}

.sidebar-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.281);
    backdrop-filter: blur(3px);
    z-index: 9;
    display: none;
}

#hero-section {
    height: 750px;
    width: 100%;
    padding: 0 455px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

#hero-section .img-class {
    position: absolute;
    bottom: 120px;
    height: 440px;
    width: 385px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
}

#hero-section img {
    height: 150%;
    width: 155%;
    object-fit: cover;
}

#hero-section h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -999;
    font-size: 245px;
    background-image: url("https://images.unsplash.com/photo-1601885763070-5641802d0f81?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    color: transparent;
}

#about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 455px;
    margin-bottom: var(--section-margin);
}

.title {
    text-align: left;
    margin-bottom: 25px;
    text-transform: lowercase;
    font-size: 120px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

#about-section img {
    height: 500px;
    width: auto;
    object-fit: cover;
    border-radius: 10px;
}

.about-heading {
    font-size: 50px;
    text-decoration: underline;
}

.about-content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.about-description {
    width: 750px;
    margin-left: 25px;
    text-align: justify;
}

.about-description h4 {
    color: rgb(71, 72, 72);
    font-weight: 400;
}

.education-section,
.work-section,
.extra-section {
    margin-top: 10px;
    width: 100%;
}

.education-card,
.work-card {
    margin-top: 10px;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.education-date,
.work-date {
    position: absolute;
    top: 0;
    right: 0;
}

.extra-section h5 {
    color: black;
    font-weight: 300;
    margin-top: 15px;
}

#skill-section {
    padding: 0 455px;
    margin-bottom: var(--section-margin);
}

.skills-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.skill-boxs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.skill-box {
    background-color: var(--primary-color);
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: fit-content;
}

.skill-box:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.777);
    color: white;
    border-color: white;
}

.box-list {
    display: flex;
    flex-wrap: wrap;
}

#projects-section {
    padding: 0 455px;
    margin-bottom: var(--section-margin);
    display: flex;
    flex-direction: column;
}

.project-card {
    padding: var(--project-box-padding);
    display: flex;
    justify-content: space-between;
    width: 1050px;
    margin-bottom: 45px;
}

.project-card:nth-child(odd) {
    flex-direction: row-reverse;
}

.project-img {
    height: 550px;
    width: 450px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 300ms ease;
}

.project-img img {
    height: 110%;
    width: 105%;
    object-fit: cover;
    filter: grayscale(10);
    transition: filter 0.3s ease;
}

.project-img img:hover {
    filter: grayscale(0);
}

.project-deatils {
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.project-deatils h3 {
    font-size: 45px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.project-info {
    text-align: justify;
    margin-bottom: 15px;
    max-width: 450px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

.project-info.show {
    max-height: 500px;
    opacity: 1;
    pointer-events: auto;
}

.project-links {
    display: flex;
    align-items: center;
}

.project-card i {
    height: 45px;
    width: 45px;
    font-size: 25px;
    border-radius: 50px;
    background-color: var(--text-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-open-btn {
    padding: var(--btn-padding);
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
    border: 1px solid var(--text-color);
    border-radius: 50px;
    background: transparent;
    transition: all 300ms ease;
    cursor: pointer;
}

.modal-open-btn:hover {
    background-color: black;
    color: white;
}

#contact-section {
    padding: 0 455px;
    margin-bottom: var(--section-margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-container form {
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
}

.contact-container input,
textarea {
    width: 100%;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.616);
}

input:focus,
textarea:focus {
    outline: none;
    border-bottom: 1px solid black;
    box-shadow: none;
}

.name-div {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.form-div h4 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 100;
    color: rgba(128, 128, 128, 0.616);
}

#contact-section button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.3s ease;
    width: fit-content;
}

#contact-section button:hover {
    border-radius: 50px;
    background-color: black;
    color: var(--primary-color);
    cursor: pointer;
}

#contact-section i {
    transform: rotate(-50deg);
}

@media screen and (max-width: 950px) {
    #site-header {
        padding: var(--phone-section-padding);
    }

    .menu-open-button,
    .menu-close-button {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        background-color: var(--primary-color);
        padding-left: 1em;
        z-index: 10;
        transition: right 300ms ease-out;
    }

    nav.show {
        right: 0;
    }

    nav.show~.sidebar-overlay {
        display: block;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    nav a {
        width: 100%;
    }

    #about-section,
    #skill-section,
    #projects-section,
    #contact-section {
        padding: var(--phone-section-padding);
    }

    #about-section {
        align-items: normal;
    }

    #about-section img {
        width: 100%;
        height: auto;
    }

    .about-content {
        flex-direction: column;
        width: 100%;
    }

    .about-description {
        margin-left: 0;
        margin-top: 15px;
        width: 100%;
    }

    .education-card,
    .project-card {
        width: 100%;
        flex-wrap: wrap;
        padding: 0;
    }

    .project-img {
        height: 350px;
    }

    .project-info {
        width: 100%;
    }

    .project-deatils h3 {
        font-size: 30px;
    }

    .modal-open-btn {
        font-size: 14px;
    }

    .contact-text span {
        font-size: 90px;
        font-weight: 500;
    }

    .skill-boxs {
        flex-direction: column;
        margin-top: 15px;
    }

    .box-list {
        margin-top: 15px;
    }

    .title {
        font-size: 70px;
    }

}
